.main {
    height: 455px;
    width: 980px;
    margin-top: 10px;
    margin-left: 220px;
}
.main .focus {
    float: left;
    width: 721px;
    height: 455px;
}
.main .newsflash {
    float: right;
    width: 250px;
    height: 455px;
}
.news{
    height: 165px;
    border: 1px solid #e4e4e4;
}
.news li:hover {
    color: #b1191a;
}
.news .hd {
    height: 33px;
    border-bottom: 1px dotted #e4e4e4;
    line-height: 33px;
    padding: 0px 15px;
}
.news .hd .more:hover{
    color: #b1191a;
}
.news .hd h5 {
    float: left;
    font-size: 14px;
}
.news .hd .more {
    float: right;
}
.news .hd .more::after {
    font-family: 'icomoon';
    content: '\ea42';
}
.news .bd {
    padding: 5px 15px 0px;
}
.news .bd ul li{
    height: 24px;
    line-height: 24px;

    /* 文字超出部分显示省略号 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.lifeservice {
    overflow: hidden;
    height: 209px;
    border: 1px solid #e4e4e4;
    border-top: 0px;
}
.lifeservice ul {
    width: 252px;
}
.lifeservice ul li {
    position: relative;
    float: left;
    width: 63px;
    height: 71px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
}

.lifeservice ul li i {
    display: inline-block;
    width: 24px;
    height: 28px;
    background-color: pink;
    margin-top: 12px;
    background: url(../images/icons.png) no-repeat -16px -16px
}

.lifeservice .hot p {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 12px;
    height: 12px;
    font-size: 10px;
    color: white;
    background-color: #589d5a;
    line-height: 12px;
}
.lifeservice .hot .triangular {
    position: absolute;
    top: 12px;
    right: 0;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
    /* 底部三角 */
    border-width: 0 6px 4px 6px;
    border-style: solid;
    border-color: #589d5a;
    border-bottom-color: white;
}

.bargain {
    margin-top: 5px;
}

.recomend {
    height: 164px;
    margin-top: 10px;
}
.recomend_hd {
    float: left;
    width: 210px;
    height: 164px;
    text-align: center;
    background-color: #5c5251;
}
.recomend_hd img {
    width: 60px;
    height: 60px;
    margin-top: 30px;
}
.recomend_hd p {
    font-size: 20px;
    color: white;
}
.recomend_bd {
    float: left;
    width: 990px;
    height: 164px;
    padding: 10px 0;
    background-color: #ebebeb;
}
.recomend_bd ul {
    width: 992px;
}
.recomend_bd ul li{
    position: relative;
    float: left;
    margin: 0 20px;
    width: 208px;
    height: 144px;
}
.recomend_bd ul li:nth-child(-n+3):after {
    content: "";
    position: absolute;
    right: 0;
    top: 10px;
    width: 1px;
    height: 124px;
    background-color: #dfdfdf;
}
.recomend_bd ul li img{
    width: 100%;
    height: 100%;
}

/* 家用电器模块 */
.box_hd {
    height: 30px;
    border-bottom: 2px solid #c81623;
}
.box_hd h3 {
    float: left;
    font-size: 18px;
    color: #c81623;
    font-weight: 400px;
}
.box_hd .tab_list ul li {
    float: left;
}
.tab_list {
    line-height: 30px;
}
.tab_list ul li a {
    margin: 0 15px;
}
.floor .w {
    margin-top: 30px;
}
.box_bd {
    height: 361px;
}
.tab_list_item {
    float: left;
}
.tab_list_item>div{
    float: left;
    height: 361px;
}
.tab_list_item>div {
    border-right: 1px solid #e4e4e4;
}
.col_bottom_line {
    border-bottom: 1px solid #e4e4e4;
}
.col_210 {
    width: 210px;
    background-color: #f9f9f9;
    text-align: center;
}
.col_210 ul {
    padding-left: 12px;
}
.col_210 ul li {
    float: left;
    width: 85px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    margin-right: 10px;
}

.col_210>a {
    display: inline-block;
    margin-top: 20px;
    color: #b1191a;
}
.col_210>a h5 {
    font-size: 20px;
    font-weight: normal;
}
.col_329 {
    width: 329px;
}
.col_221 {
    width: 221px;
}
.col_219 {
    width: 219px;
}

.tab_list_item img {
    width: 100%;
}